{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>user</th>
            <th>message</th>
            <th>type</th>
            <th>titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamation %}
            <tr>
                <td>{{ reclamation.user.nom }} {{ reclamation.user.prenom }}</td>
                <td>{{ reclamation.message }}</td>
                <td>{{ reclamation.type }}</td>
                <td>{{ reclamation.titre }}</td>
                <td>
                    <a href="{{ path('userShow', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('userEdit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('AddReclamation') }}">Create new</a>
{% endblock %}
