{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Message</th>
            <td>{{ reclamation.message }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ reclamation.titre }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ reclamation.type }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ reclamation.user.nom }} {{ reclamation.user.prenom }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('reclamation') }}">back to list</a>

    <a href="{{ path('reclamationEdit', {'id': reclamation.id}) }}">edit</a>

    <a href="{{ path('reclamationDelete', {'id': reclamation.id}) }}">delete</a>
{% endblock %}