{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('reservation') }}">back to list</a>

    <a href="{{ path('reservationDelete', {'id': reservation.id}) }}">delete</a>
{% endblock %}