{% extends 'base.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('avis') }}">back to list</a>

    <a href="{{ path('avisDelete', {'id': avis.id}) }}">delete</a>
{% endblock %}