{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Rate</th>
            <th>User</th>
            <th>Place</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for avis in avis %}
            <tr>
                <td>{{ avis.rate }}</td>
                <td>{{ avis.user.nom }} {{ avis.user.nom }}</td>
                <td>{{ avis.place.nom }}</td>
                <td>
                    <a href="{{ path('avsavisShow', {'id': avis.id}) }}">show</a>
                    <a href="{{ path('avsavisEdit', {'id': avis.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avsAddAvis') }}">Create new</a>
{% endblock %}
