{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}



{% block body %}
<div class="row" style="padding: 10px; margin-top: 10px;margin-left: 20px;margin-right: 20px; padding-bottom: 10px; padding-top: 10px;">

<div class="col-sm-10" style="text-align: center">

            <img src="{{ asset('Uploads/Image/'~event.Image) }}" style="width:80%; border-radius: 5px 5px 0 0;">
            <div class="container" >
                <div class="title" style="text-align: left"><h1><b>{{ event.nom }}</b></h1>
                <p>{{ event.Date |date('d-m-Y')}} in {{ event.localisation }}<br>
                    {{ event.Type }}
                    <br>Offre : {{ event.getOffre().nom }}</p>

                {% if event.getOffre().Pourcentage==0 %}
                    <p class="price" style="color: grey;font-size: 22px;"> <centre>Prix :{{ event.Prix }}$</centre></p>
                {% else %}
                    <p class="price" style="color: grey;font-size: 22px;"> <centre> Prix :{{ event.Prix*event.getOffre().Pourcentage/100 }}$</centre></p>
                {% endif %}

                <div class="discription" style="font-size: 20px">
                    <b> Description :</b><br>{{ event.Description }}
                </div>
                <div class="row">
                    <div class="stars">
                        {% if ratings==1 %}
                            <i class="las la-star" data-value="1"></i>
                            <i class="lar la-star" data-value="2"></i>
                            <i class="lar la-star" data-value="3"></i>
                            <i class="lar la-star" data-value="4"></i>
                            <i class="lar la-star" data-value="5"></i>
                        {% elseif ratings==2 %}
                            <i class="las la-star" data-value="1"></i>
                            <i class="las la-star" data-value="2"></i>
                            <i class="lar la-star" data-value="3"></i>
                            <i class="lar la-star" data-value="4"></i>
                            <i class="lar la-star" data-value="5"></i>
                        {% elseif ratings==3 %}
                            <i class="las la-star" data-value="1"></i>
                            <i class="las la-star" data-value="2"></i>
                            <i class="las la-star" data-value="3"></i>
                            <i class="lar la-star" data-value="4"></i>
                            <i class="lar la-star" data-value="5"></i>
                        {% elseif ratings==4 %}
                            <i class="las la-star" data-value="1"></i>
                            <i class="las la-star" data-value="2"></i>
                            <i class="las la-star" data-value="3"></i>
                            <i class="las la-star" data-value="4"></i>
                            <i class="lar la-star" data-value="5"></i>
                        {% elseif ratings ==5 %}
                            <i class="las la-star" data-value="1"></i>
                            <i class="las la-star" data-value="2"></i>
                            <i class="las la-star" data-value="3"></i>
                            <i class="las la-star" data-value="4"></i>
                            <i class="las la-star" data-value="5"></i>
                        {% else %}
                            <i class="lar la-star" data-value="1"></i>
                            <i class="lar la-star" data-value="2"></i>
                            <i class="lar la-star" data-value="3"></i>
                            <i class="lar la-star" data-value="4"></i>
                            <i class="lar la-star" data-value="5"></i>

                        {% endif %}
                    </div>

                </div>

                {{ form_start(form1) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form1) }}
                </div>
                <div class="row">
                    <div class="col" hidden>
                        {{ form_widget(form1.rate) }}
                    </div>

                </div>

                <button class="btn">{{ button_label|default('Save Rate') }}</button>
                    {{ form_end(form1) }}

                </div>
                {% if event.getReserved()==1 %}
                    <p> Déja Réserver <a class="btn btn-primary" href="{{ path('ShowEvenementUser')}}">Back </a></p>

                {% else %}
                    <p><a class="btn btn-success" href="{{ path('AjouterReservation',{'id_event':event.id,'iduser':iduser}) }}">Reserver</a>
                        <a class="btn btn-primary" href="{{ path('ShowEvenementUser')}}">Back </a></p>
                {% endif %}
            </div>
        </div>
</div>
    <script>
        window.onload = () => {
            // On va chercher toutes les étoiles
            const stars = document.querySelectorAll(".la-star");

            // On va chercher l'input
            const note = document.querySelector("#event_rate_rate");


            // On boucle sur les étoiles pour le ajouter des écouteurs d'évènements
            for(star of stars){
                // On écoute le survol
                star.addEventListener("mouseover", function(){
                    resetStars();
                    this.style.color = "red";
                    this.classList.add("las");
                    this.classList.remove("lar");
                    // L'élément précédent dans le DOM (de même niveau, balise soeur)
                    let previousStar = this.previousElementSibling;

                    while(previousStar){
                        // On passe l'étoile qui précède en rouge
                        previousStar.style.color = "red";
                        previousStar.classList.add("las");
                        previousStar.classList.remove("lar");
                        // On récupère l'étoile qui la précède
                        previousStar = previousStar.previousElementSibling;
                    }
                });

                // On écoute le clic
                star.addEventListener("click", function(){
                    note.value = this.dataset.value;
                });

                star.addEventListener("mouseout", function(){
                    resetStars(note.value);
                });
            }

            /**
             * Reset des étoiles en vérifiant la note dans l'input caché
             * @param {number} note
             */
            function resetStars(note = 0){
                for(star of stars){
                    if(star.dataset.value > note){
                        star.style.color = "black";
                        star.classList.add("lar");
                        star.classList.remove("las");
                    }else{
                        star.style.color = "red";
                        star.classList.add("las");
                        star.classList.remove("lar");
                    }
                }
            }
        }</script>


{% endblock %}
