{% extends 'baseBack.html.twig' %}

{% block body %}

    <center> <h1>List des Evenements</h1></center>
    <a href="{{ path('AjouterEvenement') }}">Add A new Evenement</a>

    <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px; padding: 10px;">


    <table class="table table-striped">
        <thead>
        <th></th>
        <th>Nom evenement</th>
        <th> Data Evenement </th>
        <th>Type</th>
        <th>Localisation</th>
        <th>Prix</th>
        <th>Offre </th>

        <th>Actions</th>
        </thead>

        {% for event in events %}
            <tr>
                <td><img src="{{ asset('Uploads/Image/'~event.Image) }}" width="120"> </td>
                <td>{{ event.nom }}</td>
                <td>{{ event.Date |date('d-m-Y')}}</td>
                <td>{{ event.Type }}</td>
                <td>{{ event.localisation }}</td>
                {% if event.getOffre().Pourcentage==0 %}
                <td>{{ event.Prix }}$</td>
                {% else %}
                    <td>{{ event.Prix*event.getOffre().Pourcentage/100 }}$</td>
                 {% endif %}
                <td>{{ event.getOffre().nom }}</td>

                <td><a class="btn btn-danger" href="{{ path('deleteEvenement',{'id':event.id}) }}">Delete</a></td>
                   <td> <a class="btn btn-success" href="{{ path('modifierEvenement',{'id':event.id}) }}">Modifier</a>
                </td>
            </tr>

        {% endfor %}
    </table>

    </div>

    <!--pagination-->
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(events, 'evenement/pagination.html.twig')}}
    </div>


{% endblock %}