{% extends 'baseBack.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}
    <h1>Edit Place</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('plcplace') }}">back to list</a>

    <a href="{{ path('plcplaceDelete', {'id': place.id}) }}">delete</a>
{% endblock %}