{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Hebergement{% endblock %}

{% block body %}
    <h1>Edit Hebergement</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('hebergement') }}">back to list</a>

    <a href="{{ path('hebergementDelete', {'id': hebergement.id}) }}">delete</a>
{% endblock %}
