{% extends 'baseBack.html.twig' %}

{% block body %}
    <center> <h1>List des Compagnie Aerienne</h1></center>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px; padding: 10px;">


    <table class="table table-striped">
    <thead>
    <th> Logo </th>
    <th>Nom</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Actions</th>
    </thead>

        {% for compagnie in Compagnies %}
            <tr>
                <td><img src="{{ asset('Uploads/Image/'~compagnie.Logo) }}" width="120"> </td>
                <td>{{ compagnie.nom }}</td>
                <td>{{ compagnie.email }}</td>
                <td>{{ compagnie.contact }}</td>
                <td> <a class="btn btn-success" href="{{ path('modiferCompagnie',{'id':compagnie.id}) }}">Modifier</a>
                </td>
                <td><a class="btn btn-danger" href="{{ path('deleteCompagnie',{'id':compagnie.id}) }}">Delete</a> </td>

            </tr>

        {% endfor %}
    </table>
    </div>
    <a class="btn btn-primary" href="{{ path('AddCompagnie') }}">Add A new Compagnie</a>



{% endblock %}