

<div class="row" style="padding: 10px; margin-top: 10px;margin-left: 20px;margin-right: 20px; border-color: #0a0c0d; padding-bottom: 10px; padding-top: 10px;">

{% for doctor in doctors %}
    {% set avg=0 %}
    {% set i=0 %}
    {% set tot=0 %}
    {% set ratings=0 %}
<div class="col-sm-3">
    <div class="card">
        <img src="{{ asset('Uploads/Image/'~doctor.Image) }}" style="width:100%; border-color: #0a0c0d; border: 10px; border-radius: 5px 5px 0 0;"  width="250"
             height="200">
        <div class="container" >
            <h4><b>{{ doctor.name }}</b></h4>
            {% for r in rates %}
                {% if  r.getIdDoctor.getId == doctor.getId %}
                    {% set i=i+1 %}
                    {% set tot=tot+r.rate %}
                    {% set avg=tot/i %}
                {% endif %}
            {% endfor %}

            Average Rating : <b>{{ avg }}/5</b>
            {% set avg=0 %}
            {% set tot=0 %}
            {% set i=0 %}
            {% set idrate=0 %}

            {% for r in rates %}
                {% if r.getIdDoctor.getId == doctor.getId  %}
                    {% if r.idUser.getId == id_User %}
                        {% set ratings=r.rate %}
                        {% set idrate=r.id %}
                    {% endif %}
                {% endif %}
            {% endfor %}




    {% set ratings=0 %}
            <p>{{ doctor.location }}<br>
                <b>Speciality : </b> {{ doctor.speciality }}<br>
                <b>Phone Number : </b> {{ doctor.phone }}<br>
                <b>Place of Work : </b> {{ doctor.getIdHospital().name }}<br>

                <a class="btn btn-primary" href="{{ path('showDoctor',{'id':doctor.id})}}">Show </a>
            </p>
        </div>
    </div>
</div>

    <script type="text/javascript">
        window.onload = () => {
            // On va chercher toutes les étoiles
            const stars = document.querySelectorAll(".la-star");

            // On va chercher l'input
            const note = document.querySelector("#rate_doctor_rate");

            // On boucle sur les étoiles pour le ajouter des écouteurs d'évènements
            for(star of stars){
                // On écoute le survol
                star.addEventListener("mouseover", function(){
                    resetStars();
                    this.style.color = "red";
                    this.classList.add("las");
                    this.classList.remove("lar");
                    // L'élément précédent dans le DOM (de même niveau, balise soeur)
                    let previousStar = this.previousElementSibling;

                    while(previousStar){
                        // On passe l'étoile qui précède en rouge
                        previousStar.style.color = "red";
                        previousStar.classList.add("las");
                        previousStar.classList.remove("lar");
                        // On récupère l'étoile qui la précède
                        previousStar = previousStar.previousElementSibling;
                    }
                });

                // On écoute le clic
                star.addEventListener("click", function(){
                    note.value = this.dataset.value;
                });

                star.addEventListener("mouseout", function(){
                    resetStars(note.value);
                });
            }

            /**
             * Reset des étoiles en vérifiant la note dans l'input caché
             * @param {number} note
             */
            function resetStars(note = 0){
                for(star of stars){
                    if(star.dataset.value > note){
                        star.style.color = "black";
                        star.classList.add("lar");
                        star.classList.remove("las");
                    }else{
                        star.style.color = "red";
                        star.classList.add("las");
                        star.classList.remove("lar");
                    }
                }
            }
        }</script>


{% endfor %}
</div>


