<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/10-11-2017/go_fly_traveller-demo_Free/246772657/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Apr 2022 19:25:14 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Meta tags -->
    <title>Go Fly Traveller a Travel Category Flat Bootstrap Responsive Website | Home :: w3layouts</title>
    <meta name="keywords" content="Go Fly Traveller a Travell Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/flexslider.css') }}" type="text/css" media="screen" /> <!-- Testimonials js-->
    <link rel="stylesheet" href="{{ asset('assets/css/easy-responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/chocolat.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="{{ asset('line-Awesome/css/line-awesome.min.css') }}" rel="stylesheet" type='text/css'>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js') }}"></script>



    <!-- google fonts -->
    <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans') }}" rel="stylesheet">
    <link href="{{ asset('http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900') }}" rel="stylesheet">
    {% block stylesheets %}
{% endblock %}
</head>
<body>
<script src="{{ asset('assets/js/monetization.js') }}" type="text/javascript"></script>
<script>
    (function(){
        if(typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function(){
        if(typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
        }
    })();
</script>
<script>
    (function(){
        if(typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='{{ asset('https://www.googletagmanager.com/gtag/js?id=UA-149859901-1') }}'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149859901-1');
</script>

<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
</script>
<script async src='{{ asset('assets/js/autotrack.js') }}'></script>

<meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
<!-- New toolbar-->
<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }


    #w3lDemoBar.w3l-demo-bar {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        padding: 40px 5px;
        padding-top:70px;
        margin-bottom: 70px;
        background: #0D1326;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }

    #w3lDemoBar.w3l-demo-bar a {
        display: block;
        color: #e6ebff;
        text-decoration: none;
        line-height: 24px;
        opacity: .6;
        margin-bottom: 20px;
        text-align: center;
    }

    #w3lDemoBar.w3l-demo-bar span.w3l-icon {
        display: block;
    }

    #w3lDemoBar.w3l-demo-bar a:hover {
        opacity: 1;
    }

    #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
        color: #e6ebff;
    }
    #w3lDemoBar.w3l-demo-bar .responsive-icons {
        margin-top: 30px;
        border-top: 1px solid #41414d;
        padding-top: 40px;
    }
    #w3lDemoBar.w3l-demo-bar .demo-btns {
        border-top: 1px solid #41414d;
        padding-top: 30px;
    }
    #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
        font-size: 26px;
    }
    #w3lDemoBar.w3l-demo-bar .no-margin-bottom{
        margin-bottom:0;
    }
    .toggle-right-sidebar span {
        background: #0D1326;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #e6ebff;
        border-radius: 50px;
        font-size: 26px;
        cursor: pointer;
        opacity: .5;
    }
    .pull-right {
        float: right;
        position: fixed;
        right: 0px;
        top: 70px;
        width: 90px;
        z-index: 99999;
        text-align: center;
    }
    /* ============================================================
    RIGHT SIDEBAR SECTION
    ============================================================ */

    #right-sidebar {
        width: 90px;
        position: fixed;
        height: 100%;
        z-index: 1000;
        right: 0px;
        top: 0;
        margin-top: 60px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        overflow-y: auto;
    }


    /* ============================================================
    RIGHT SIDEBAR TOGGLE SECTION
    ============================================================ */

    .hide-right-bar-notifications {
        margin-right: -300px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }



    @media (max-width: 992px) {
        #w3lDemoBar.w3l-demo-bar a.desktop-mode{
            display: none;

        }
    }
    @media (max-width: 767px) {
        #w3lDemoBar.w3l-demo-bar a.tablet-mode{
            display: none;

        }
    }
    @media (max-width: 568px) {
        #w3lDemoBar.w3l-demo-bar a.mobile-mode{
            display: none;
        }
        #w3lDemoBar.w3l-demo-bar .responsive-icons {
            margin-top: 0px;
            border-top: none;
            padding-top: 0px;
        }
        #right-sidebar,.pull-right {
            width: 90px;
        }
        #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile{
            margin-bottom: 0;
        }
    }
</style>
<div class="pull-right toggle-right-sidebar">
    <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
</div>



<div class="agile-banner">
    <nav class="navbar w3-navbar">
        <div class="navigation-overlay">
            <div class="container-fluid">
                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap">
                                <a href="#home" class="scroll">
                                    GO<span>FLY</span>
                                </a>
                            </div>
                        </div>
                    </div> <!-- end navbar-header -->


                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <div class="collapse text-center navbar-collapse w3ls-nav" id="navbar-collapse">

                            <ul class="nav navbar-nav w3ls-nav1 text-center">

                                <li class="active">
                                    <a href="#home" class="scroll">Home</a>
                                </li>
                                <li>
                                    <a href="#about" class="scroll">About</a>
                                </li>
                                <li>
                                    <a href="#service" class="scroll">Services</a>
                                </li>
                                <li>
                                    <a href="#gallery" class="scroll">Gallery</a>
                                </li>
                                <li>
                                    <a href="#testimon" class="scroll">Reviews</a>
                                </li>
                                <li>
                                    <a href="#contact" class="scroll">Contact</a>
                                </li>

                                {% block SignIn %}
                                {% endblock %}

                            </ul>
                        </div>
                    </div> <!-- end col -->

                    <div class="w3-socials w3-hide">
                        <ul>
                            <li>
                                <a href="#"><span class="fa fa-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                            </li>
                        </ul>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end navigation -->
    </nav> <!-- end navbar -->

    <div class="heading">
        <h1>The Fast And Safe Way To Travel</h1>
    </div>

</div>
<!-- About us -->
{% block body %}
    <div class="w3ls-about" id="about">
        <h3 class="center">About Us</h3>
        <div class="layer">
            <div class="container">
                <h2>we are the most popular and the great travel service providers.</h2>
                <p>you can find the most comfortable and safest journey with our service.</p>
                <div class="details">

                    <div class="details-list">
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                                <h6>Lowest Prices</h6>
                                <p>lorem ipsum dolar sit amit comit </P>
                            </li>
                            <li>
                                <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                                <h6>Speed Travel</h6>
                                <p>lorem ipsum dolar sit amit comit </P>
                            </li>
                            <li>
                                <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                                <h6>Safe Journey</h6>
                                <p>lorem ipsum dolar sit amit comit </P>
                            </li>
                        </ul><br>
                        <a href="#" data-toggle="modal" data-target="#myModal1">know more</a>
                        <!-- bootstrap-pop-up -->
                        <div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Go-Fly Traveller
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <section>
                                        <div class="modal-body">
                                            <img src="{{ asset('assets/images/testimon5.jpg') }}" alt=" " class="img-responsive" />
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- //bootstrap-pop-up -->
                    </div>
                </div>
            </div>
        </div><!-- layer ends -->
    </div>
    <!-- //About us -->
    <!-- Services -->
    <div class="agile-services" id="service">
        <h3 class="center">Our Services</h3>
        <div class="container">
            <div class="service-list">

                <ul class="service1">
                    {% block Service %}
                        <li>
                            <span class="fa fa-space-shuttle" aria-hidden="true"></span>
                            <h4>Musée</h4>
                        </li>
                        <li>
                            <span class="fa fa-tripadvisor" aria-hidden="true"></span>
                            <h4>Boite de nuit</h4>
                        </li>
                        <li>
                            <span class="fa fa-modx" aria-hidden="true"></span>
                            <h4>Voyages</h4>
                        </li>
                        <li>
                            <span class="fa fa-empire" aria-hidden="true"></span>
                            <h4>Evenements</h4>
                        </li>
                        <li>
                            <span class="fa fa-linux" aria-hidden="true"></span>
                            <h4>Hopitals</h4>
                        </li>
                        <li>
                            <span class="fa fa-linux" aria-hidden="true"></span>
                            <h4>Hotels</h4>
                        </li>
                    {% endblock %}

                </ul>


            </div>
        </div>
    </div>
    <!-- //Services -->
    <!-- Gallery chocolat -->
    {% block Spec %}
    <div class="w3ls-galley" id="gallery">
        <div class="container">
            <h3 class="center">Our Price Index</h3>
            <div class="chocolat-parent" id="parentHorizontalTab" data-chocolat-title="Go-Fly Services">
                <ul class="resp-tabs-list hor_1">
                    <li><a href="#tab1" class="tabs"><span>Musées</span></a></li>
                    <li><a href="#tab2" class="tabs"><span>Boites de Nuit</span></a></li>
                    <li><a href="#tab3" class="tabs"><span>Hotels</span></a></li>
                    <li><a href="#tab4" class="tabs"><span>Voyages</span></a></li>
                    <li><a href="#tab5" class="tabs"><span>Evenements</span></a></li>
                    <li><a href="#tab6" class="tabs"><span>Pharmacies</span></a></li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <!-- Tab-1 -->
                    {% block Musuem %}
                        <div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/holy.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/holy.jpg" />
                                </a>
                                <h4 class="price"> 105 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/taaj.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/taaj.jpg" />
                                </a>
                                <h4 class="price"> 75 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/rome1.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/rome1.jpg"/>
                                </a>
                                <h4 class="price"> 125 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/paris.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/paris.jpg"/>
                                </a>
                                <h4 class="price"> 95 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/tour.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/tour.jpg"/>
                                </a>
                                <h4 class="price"> 65 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/tour2.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/tour2.jpg"/>
                                </a>
                                <h4 class="price"> 90 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/london.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/london.jpg"/>
                                </a>
                                <h4 class="price"> 115 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 taba">
                                <a class="chocolat-image" href="images/tour3.jpg" title="Go-Fly Services">
                                    <img class="img-responsive" alt="image" src="images/tour3.jpg"/>
                                </a>
                                <h4 class="price"> 85 $ /1 Person </h4>
                                <p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
                                <a href="#contact" class="register scroll">Request Details</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endblock %}

                    {% block Hotels %}

                    {% endblock %}

                    {% block  Boite %}

                    {% endblock %}

                    {% block Voyage %}
                    {% endblock %}

                    {% block Evenement %}
                    {% endblock %}

                    {% block Pharmacies %}
                    {% endblock %}

                </div> <!-- container end-->
            </div>
        </div>
    </div>
        {% endblock %}
    <!-- //Gallery -->
    <!-- our guides -->
    <div class="w3-guides" id="guide">
        <div class="container">
            <h3 class="text-center">Our Guides</h3>
            <div class="guide-grids">
                <div class="col-md-3 col-sm-6 col-xs-6 guide1">
                    <img src="images/g1.jpg" alt="guide1" class="img-responsive">
                    <h4>Ana phillips</h4>
                    <p class="designation">Lorem Ipsum</p>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
                    <div class="social-wthree-icons bnragile-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 guide2">
                    <img src="images/g2.jpg" alt="guide2" class="img-responsive">
                    <h4>Scarlett Ray</h4>
                    <p class="designation">Lorem Ipsum</p>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
                    <div class="social-wthree-icons bnragile-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 guide3">
                    <img src="images/g3.jpg" alt="guide3" class="img-responsive">
                    <h4>Jhon Kiton</h4>
                    <p class="designation">Lorem Ipsum</p>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
                    <div class="social-wthree-icons bnragile-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 guide4">
                    <img src="images/g4.jpg" alt="guide4" class="img-responsive">
                    <h4>Jennifer Snow</h4>
                    <p class="designation">Lorem Ipsum</p>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
                    <div class="social-wthree-icons bnragile-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //our guides -->
    <!-- testimonials -->
    <!-- //testimonials -->
    <!-- Map -->
{% endblock %}

<div class="w3-map">

    <iframe src="https://www.google.com/maps/place/Tunis/data=!4m2!3m1!1s0x12fd337f5e7ef543:0xd671924e714a0275?sa=X&ved=2ahUKEwjJ_-uOgKv3AhXMi_0HHQz9CKMQ8gF6BAgNEAE"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- //Map -->
<!-- contact -->
<div class="wthree-contact" id="contact">
    <div class="container contact">
        <div class="part1">
            <h3>Contact</h3>
            <h5>Email:</h5>
            <a href="mailto:contact@company.com">contact@traveller.com</a>
            <a href="mailto:enquiry@company.com">enquiry@traveller.com</a>
            <h5>Address:</h5>
            <p>94117, Green Hills</p>
            <p>San Francisco</p>
            <p>U S A</p>
            <h5>Phone:</h5>
            <P>+1 284-251-0639</P>
            <ul class="contact-icons">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span> </a></li>
                <li><a href="#"><span class="fa fa-behance"></span> </a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span> </a></li>
            </ul>
        </div>

    </div>
</div>
<!-- //contact -->



<!-- copyright -->
<div class="agileits-w3layouts">
    <div class="container">
        <p>© 2017 Go Fly Traveller. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //copyright -->
<!-- scripts -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/easyResponsiveTabs.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.chocolat.js') }}"></script>
<!-- Script chocolat -->
<script>
    $(document).ready(function(){
        $('.chocolat-parent').Chocolat();
    });
</script>
<!-- //Script chocolat -->
<!-- script responsive tabs -->
<script type="text/javascript">
    $(document).ready(function () {

        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });


    });
</script>
<!-- //script responsive tabs -->

<script src="{{ asset('assets/js/jquery.flexslider.js') }}"></script>

<!--Start-slider-script-->
<script type="text/javascript">

    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!--End-slider-script-->
<!-- //for-Testimonials -->
<!-- smooth scrolling -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/easyResponsiveTabs.js') }}"></script>
<script src="{{ asset('assets/js/SmoothScroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/easing.js') }}"></script>
<script src="{{ asset('script.js') }}" type="text/javascript"></script>
{% block javascripts %}
{% endblock %}
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //scrolling script -->



<div id = "v-w3layouts"></div><script>(function(v,d,o,ai){ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '../../../../../../../a.vdo.ai/core/v-w3layouts/vdo.ai.js');</script>
</body>

</html>
