{% extends 'base.html.twig' %}
{% block body %}
<div class="col-sm-10" style="text-align: center" xmlns="http://www.w3.org/1999/html">

    <img src="{{ asset('Uploads/Image/'~voyage.getVol().getCompagnie().Logo) }}" style="width:80%; border-radius: 5px 5px 0 0;">
    <div class="container" >
        <div class="title" style="text-align: left"><h1><b>To: {{voyage.getVol().getDestination() }}</b></h1>
            <br> <b>Prix :</b> {{ voyage.Prix }} $<br>
                <b>Numero de Vol : </b> {{ voyage.getVol().getNumVol() }}<br>
                <b>From : </b> {{ voyage.getVol().getVilleDepart() }} --> <b>To:</b>  {{voyage.getVol().getDestination() }}<br>
                <b>Company Name :</b>{{ voyage.getVol().getCompagnie().nom }}<br>
                <b>Date :</b>{{ voyage.getVol().getDateVol() |date('d-m-Y')}}<br>
                <b>Description :</b>{{ voyage.description}}
                <br> </p>
        </div>
    </div>
</div>
    <a class="btn btn-primary" href="{{ path('ConsulterVoyagesUser') }}">Back to Voyages List</a>
{% endblock %}