{% extends 'baseBack.html.twig' %}
{% block body %}
    <centre><h1>List Des voyages </h1></centre>
    <table class="table table-striped">
        <thead>
        <th>  </th>
        <th>Voyage à </th>
        <th>Description</th>
        <th>Prix </th>
        <th>Num du vol</th>
        <th>ville depart</th>
        <th>type vol</th>
        <th>Date </th>
        <th>Compagnie</th>
        <th>      </th>
        <th>Actions</th>
        </thead>
        {% for voyage in voyages %}
            <tr>
                <td></td>
                <td>{{ voyage.getVol().getDestination() }} </td>
                <td>{{ voyage.description}}</td>
                <td>{{ voyage.Prix }} $</td>
                <td>{{ voyage.getVol().getNumVol() }}</td>
                <td> {{ voyage.getVol().getVilleDepart() }}</td>
                <td>{{ voyage.getVol().getTypeVol() }}</td>
                <td>{{ voyage.getVol().getDateVol() |date('d-m-Y')}}</td>
                <td>{{ voyage.getVol().getCompagnie().nom }}</td>
                <td> <img src="{{ asset('Uploads/Image/'~voyage.getVol().getCompagnie().Logo) }}" width="70"> </td>
                <td> <a class="btn btn-success" href="{{ path('ModifierVoyage',{'id':voyage.id}) }}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('DeleteVoyage',{'id':voyage.id}) }}">Delete</a> <br>

                </td>
            </tr>
        {% endfor %}

    </table>
    <a class="btn btn-primary" href="{{ path('AjouterVoyage') }}">Ajouter une nouvelle Voyage</a>



{% endblock %}