{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block image %}
    <img src="{{ asset('uploads/'~ user.Photo) }}" alt="" style="width:50px;height:50px">
{% endblock%}
{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('usruser') }}">back to list</a>

    <a href="{{ path('usruserDelete', {'id': user.id}) }}">delete</a>
{% endblock %}